html, body {
    margin: 0;
    padding: 0;
}
body {
    font-size: 0;
    background-image: url("img/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    min-width: 1300px;
    min-height: 735px;
    position:relative;
}
.body_container {
    margin-top: 5%;
    margin-left: 5%;
    float: left;
    height: 89%;
    width: 25%;
}
.logo{
    width: 80%;
    margin: 0;
}
.status_container {
    background-image: url(img/typewriter.png);
    background-repeat: no-repeat;
    background-size: 100%;
    margin-top: 10%;
    margin-left: 0;
    float: left;
    height: 55%;
    width: 77%;
    position: relative;
}
.total_score {
    margin-top: 13%;
    margin-left: 23%;
    width: 73%;
    font-size: 2.5vh;
    position: absolute;
    font-family: "Arial Black";
    color: black;
    text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
}
.score_number{
    margin-top: 18%;
    margin-left: 43%;
    width: 50%;
    font-size: 1.5vw;
    position: absolute;
    font-family: "Arial Black";
}
.countries{
    width: 100%;
    margin-top: 1rem;
    text-align:center;
    font-size: 1rem;
    font-family: "Arial Black";
    color: darkred;
    text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
}
.status_container ul{
    list-style-type:none;
    text-align:center;
    width: 100%;
    padding: 0;
}

.status_container li{
    width: 100%;
    font-size: 1rem;
    font-family: "arial";
}

.map {
    position: absolute;
    margin-left: 32%;
    margin-top: 7%;
    width: 55%;
    height: 76%;
    border: 1vh black solid;
}
#googleMap{
    width:100%;
    height: 100%;
}
.carmen{
    width: 20%;
    z-index: 1;
    position: fixed;
    bottom: 0;
    right: 5%; 
}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.instructions {
    background-image: url("img/instructions.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    margin: auto;
    width: 600px;
    height: 400px;
    position:relative;
}
.instructions_header{
    font-size: 2rem;
    top: 5%;
    left: 35%;
    position: absolute;
    font-family: "Arial Black";
}
.descriptions{
    position: absolute;
    width: 50%;
    font-size: 2vh;
    top: 33%;
    left: 4%;
    font-family: arial;
}
.running{
    position: absolute;
    width: 35%;
    height: auto;
    bottom: 0;
    right: 0;
}
#play_btn {
    position: absolute;
    width: 200px;
    height: 75px;
    left: 50%;
    bottom: -100px;
    transform: translateX(-50%);
    font-size: 2rem;
    font-family: "Arial Black";
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    box-shadow: 0 9px #999;
}
#play_btn:hover {background-color: #3e8e41}
#play_btn:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    /*transform: translateY(4px);*/
}
.trivia {
    padding: 1% 3%;
    background-image: url(img/modal_background.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    margin: auto;
    width: 600px;
    height: 400px;
}
.modal-body{
    width: 69%;
}
#question{
    font-size: 3vh;
    width:140%;
}
.answers{
    width: 140%;
    margin: 0;
}
.choices{
    font-size: 3vh;
    color: darkred;
}
.right{
    margin-top: 20%;
    margin-left: 0%;
}
.black_check{
    position: absolute;
}
.red_check{
    position: absolute;
}
.wrong{
    margin-left: 33%;
}
.black_x{
    position: absolute;
}
.red_x{
    position: absolute;
}
.submit_btn {
    margin-top: 1.5%;
    margin-left: 4%;
    position: absolute;
    width: 9%;
    padding: 1%;
    font-size: 2vh;
    font-family: "Arial Black";
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    box-shadow: 0 9px #999;
}
.submit_btn:hover {background-color: #3e8e41}
.submit_btn:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}
.post_country_win {
    margin-top: 3%;
    margin-left: 4.5%;
    position: absolute;
    width: 26%;
    padding: 1%;
    font-size: 3vh;
    font-family: "Arial Black";
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    box-shadow: 0 9px #999;
}
.post_country_win:hover {background-color: #3e8e41}
.post_country_win:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}
.win {
    font-size: 0;
    background-image: url("img/win_condition.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    margin: auto;
    width: 45%;
    height: 70%;
}
.lose {
    font-size: 0;
    background-image: url("img/lose_condition.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    margin: auto;
    width: 45%;
    height: 70%;
}
.playagain_btn {
    width: 18%;
    padding: 1.5%;
    margin-left: 40%;
    font-size: 2vh;
    margin-top: 58%;
}

#answer {
    text-align: center;
    font-size: 8vh;
}

#submit_trivia {
    margin-left: 2vw;
}

.countries ul{
    list-style-type:none;
    margin: 0;
    padding: 0;
}

#real_win{
    font-size: 0;
    background-image: url("img/win_condition.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    margin: auto;
    width: 45%;
    height: 70%;
    position:absolute;
    left:25%;
}

p{
    font-size:initial;
}

ul{
    font-size: initial;
}
#hints-div{
    overflow-y: auto;
    height: 250px;
    width: 600px
}
#status_content{
    position: absolute;
    left: 40px;
    top: 0;
    width: 190px;
    height: 200px;
    overflow-x: hidden;
    overflow-y: auto;
}