<<<<<<< HEAD
body {
    background-image: url("img/background.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    height: 80vh;
    width: 90vw;
}

#map{
    background-color: white;
    font-size: 20vh;
    width: 54%;
    height: 86%;
    margin-left: 34%;
    margin-top: 9%;
    border: 5px black solid;
    border-radius: 15px;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.instructions {
    font-size: 0;
    background-image: url("img/instructions.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    margin: auto;
    border: 1px solid #888;
    width: 45%;
    height: 70%;
}
.play_btn {
    width: 20%;
    margin-left: 40%;
    margin-top: 58%;
}
.trivia {
    font-size: 0;
    background-image: url("img/modal_background.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    margin: auto;
    border: 1px solid #888;
    width: 45%;
    height: 70%;
}
.submit_btn {
    width: 20%;
    margin-left: 40%;
    margin-top: 58%;
}
.right{

}
.wrong{

}
.win {
    font-size: 0;
    background-image: url("img/win_condition.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    margin: auto;
    border: 1px solid #888;
    width: 45%;
    height: 70%;
}
.lose {
    font-size: 0;
    background-image: url("img/lose_condition.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    margin: auto;
    border: 1px solid #888;
    width: 45%;
    height: 70%;
}
.playagain_btn {
    width: 20%;
    margin-left: 40%;
    margin-top: 58%;
=======

span {
    margin-right: 100vh;
}

#answer {
    text-align: center;
    font-size: 8vh;
}

#submit_trivia {
    margin-left: 2vw;
>>>>>>> 96c4f42c417b813a7bed097f38b7b454cc1d762f
}