html, body {
    margin: 0;
    padding: 0;
}
body {
    background-size: 100%;
    max-width:100%;
    max-height:100%;
    height: 100vh;
    width: 100vw;
    background: url("img/background.jpg") no-repeat center center;
    background-size: cover;
    margin: 0;
}
.fix_body {
    height: 100%;
    width: 100%;
    position: relative;
}
.map{
    background-color: white;
    font-size: 20vh;
    width: 44%;
    height: 82%;
    left: 34%;
    top: 8%;
    border: 5px black solid;
    position: absolute;
}
#googleMap{
    width:100%;
    height: 100%;
}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.instructions {
    font-size: 0;
    background-image: url("img/instructions.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    margin: auto;
    width: 45%;
    height: 70%;
}

.trivia {
    padding: 1%;
    background-image: url("img/modal_background.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    margin: auto;
    width: 45%;
    height: 70%;
}

.win {
    font-size: 0;
    background-image: url("img/win_condition.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    margin: auto;
    width: 45%;
    height: 70%;
}
.lose {
    font-size: 0;
    background-image: url("img/lose_condition.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    margin: auto;
    width: 45%;
    height: 70%;
}
.playagain_btn {
    width: 18%;
    padding: 1.5%;
    margin-left: 40%;
    font-size: 2vh;
    margin-top: 58%;
}

#answer {
    text-align: center;
    font-size: 8vh;
}

#submit_trivia {
    margin-left: 2vw;
}

.total_score {
    height:48%;
    width:98%;
}
.countries {
    height:48%;
    width:98%;
}
.new_instructions{
    font-size: 20px;
    margin-top: 14%;
    margin-left: 10%;
    width: 50%;
}
.instructions_header{
    font-size: 8vh;
    padding: 0;
    margin: 0;
    margin-left: 37%;
}
#play_btn{
    width: 18%;
    padding: 1.5%;
    margin-left: 40%;
    font-size: 3vh;
}
.submit_btn{
    width: 25%;
    padding: 1.5%;
    margin-left: 40%;
    font-size: 3vh;
}
.right{
    position: relative;
}
.black_check{
    position: absolute;
}
.red_check{
    position: absolute;
}
.wrong{
    position: relative;
    margin-left: 20%;
}
.black_x{
    position: absolute;
}
.red_x{
    position: absolute;
}
.modal-body{
    width: 69%;
}
#question{
    font-size: 3vh;
}
.answers{
    width: 140%;
    margin: 0;
}
.choices{
    font-size: 3vh;
    color: darkred;
}
.status_container{
    width: 15%;
    height:25%;
    position:absolute;
    left:10%;
    bottom: 30%;
    text-align:center;
}

.countries ul{
    list-style-type:none;
    margin: 0;
    padding: 0;
}